body{
    background-color: hsl(217, 54%, 11%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}
#container{
    margin: 2em;
}
@media (min-width: 768px) {
    #container{
        width: 25em;
    }
    
}